<h1>About page caling</h1>
<div class="row" style="margin:0px !important; ">
	<div class="col-lg-6">
		<table class="table">
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th>City</th>
		        <th>Country</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="customer in customers.data.records">
		        <td>{{ customer.Name }}</td>
		        <td>{{ customer.City }}</td>
		        <td>{{ customer.Country }}</td>
		      </tr>
		    </tbody>
		  </table>
	</div>
</div>